@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}


html,
body,
#root {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
   background: #EEF1F5;
  margin: 0;
  min-height: 100%;
}


.marquee {
  width: max-content;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
 @media (pointer: fine) {
  body {
    cursor: none;
  }

  a,
  button,
  input,
  textarea,
  select {
    cursor: none;
  }
} 


.blog-content {
  width: 100%;
  max-width: 100%;
  overflow-wrap: normal;
  word-break: normal;
}

.blog-content p,
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6,
.blog-content li {
  width: 100%;
  max-width: 100%;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}